.holyGrailLayout {
  display: flex;
  width: 100%;
  max-width: 1440px; 
  justify-self: center;
}
.mobileToggle {
  display: none;
  padding: 4.5px;
  width: 100vw;
  font-size: 1.1em;
  font-weight: bold;
  background-color: #eee;
  border-radius: 0px;
  cursor: pointer;
  border: none;
}
.leftSidebar {
  width: min(14.3vw, 205.771px);
  flex-shrink: 0; 
  position: sticky;
  top: var(--total-header-height);
  height: calc(100vh - var(--total-header-height)); 
  overflow-y: auto; 
  background: #f9f9f9;
}
.leftSidebarTitle {
  padding: 10px;
}
.mainContent {
  /* margin-left: min(14.3vw, 205.771px); */
  flex-grow: 1; 
  min-width: 0; 
  background: #ffffff;
  padding: 10px 20px;
  border-right: 1px solid #f0f0f0;
}
.rightSidebar {
  width: min-content;
  max-width: 200px;
  margin: 0 20px; 
  flex-shrink: 0;
  position: sticky;
  top: calc(var(--total-header-height) + 10px);
  height: fit-content;
  display: grid;
  justify-content: center;
}
.rightSidebar h3 {
  text-align: center;
  margin-bottom: 10px;
}
.chapterList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.chapterLink {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
.chapterLink:hover {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  font-size: 110%;
}
.activeChapter {
  background-color: #38b6ff;
  color: whitesmoke;
  font-weight: bold;
  font-size: 110%;
}
.activeChapter:hover {
  background-color: #38b6ff;
  color: whitesmoke;
  font-weight: bold;
  font-size: 110%;
}
.chapterHeader h1 {
  font-size: 2.5em;
  margin: 0;
  line-height: 1.2;
}
.chapterHeader h4 {
  font-size: 1.2em;
  font-weight: 500;
  color: #666;
  margin: 5px 0 20px 0;
}
.divider {
  border: 0;
  border-top: 2px solid #f0f0f0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.content {
  font-size: 1.15em; 
  line-height: 1.5; 
  color: #222; 
  text-align: justify;
}
.content p {
  margin-bottom: 0.75em;
}
.navigation {
  padding: 20px 0px;
  border-top: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.lastRead {
  padding: 15px;
  background: rgb(227, 242, 253);
  border-left: 5px solid rgb(56, 182, 255);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lastRead a {
  background-color: rgb(56, 182, 255);
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}
.lastRead a:hover {
  color: white;
  transform: scale(1.05);
}
.disclaimer {
  font-size: 0.85rem;
  background: #f9f9f9;
  margin-top: 15px;
  padding: 15px;
  border-radius: 5px;
  border-left: 3px solid #ff4757;
  color: #222;
}

@media (max-width: 767px) {
  .holyGrailLayout {
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    margin-top: var(--total-header-height)
  }
  .leftSidebar {
    order: 1;
    width: 100%;
    position: fixed;
    left: 0;
    height: auto;
    overflow-y: visible;
    padding-top: 4px;
    background: white;
    top: var(--total-header-height);
  }
  .mobileToggle {
    display: block;
  }
  .chapterList {
    background: #fff;
    width: 100vw;
    font-size: 0.95em;
    text-align: center;
  }
  .leftSidebarTitle {
    display: none;
  }
  .mainContent {
    order: 2;
    width: 100%;
    padding: 0 10px;
    padding-top: 32px;
    margin-left: unset;
    border-right: none;
  }
  .novelInfoContainer {
    display: flex;
    flex-direction: column;
    }
  .coverWrapper {
    max-width: 100%;
  }
  .contentSection {
    margin: 20px 0 0 0;
  } 
  .rightSidebar {
    order: 3;
    width: 100%;
    max-width: none;
    position: static;
    margin: 0;
    margin-bottom: 30px;
  }
  .rightSidebar img {
    width: auto;
  }
  .chapterHeader h1 {
    font-size: 2em;
  }
}