#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --logo-height: 75px;
  --logo-margin-top: 10px;
  --logo-margin-bottom: 10px;
  --nav-height: 35px;
  --total-header-height: calc(var(--logo-height) + var(--logo-margin-top) + var(--logo-margin-bottom) + var(--nav-height));
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
}
body {
  color: #213547;
  background-color: white;
  margin: 0;
  min-width: 320px;
  height: calc(100vh - 130px);
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: whitesmoke;
  color: #213547;
}
button:disabled {
  color: gray;
  cursor: not-allowed;
}
button:not(:disabled):hover {
  background-color: #38b6ff;
  color: whitesmoke;
  font-weight: bold;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.container {
  display: grid;
  height: calc(100vh - 130px);
  width: 100vw;
  align-content: center;
  justify-items: center;
  background-color: white;
}
label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}
input[type='text'],
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  color: #213547;
  background-color: whitesmoke;
}
.loadingContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (var(--total-header-height)));
  width: 100%;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #38b6ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* @media (prefers-color-scheme: dark) {
  body {
    color: whitesmoke;
    background-color: #242424;
  }
  a {
    color: #646cff;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
    color: whitesmoke;
  }
  button:hover {
    border-color: #646cff;
  }

  .container {
    background-color: #2d2d2d;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }

  input[type='text'],
  textarea {
    background-color: #333;
    border-color: #555;
    color: whitesmoke;
  }
} */
@media (max-width: 767px) {
  :root {
    --logo-height: 60px;
  }
}