.footer {
  background-color: var(--background);
}

.copyright {
  background-color: var(--card-bg);
  
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  
  color: var(--foreground);
  opacity: 0.8;
  
  border-top: 1px solid var(--input-border);
}

@media (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }
}